<section style="width: 100vw; height: 10vh; background-color:rgb(100, 143, 101) ;">
  
</section>
<section class="container-fluid" style="background-color: #ededed;" id="sessao-perfil">
  <ul class="perfil-user-ul" style="list-style: none; width: 100vw; margin: 0; padding: 0;">
    
    <% for(let pedido of pedidos){ %>
      
      <li class="perfil-user-ul-li" style="width: 90vw;border: 2px solid darkolivegreen; 
      padding: 2vh; margin: 2vh 0; border-radius: 7px; background-color: white;"
      onclick="location.href='/meus-pedidos/<%=pedido.pedido%>'">
      
      <div style="max-width: 18rem; width: 100vw; ">
        <div class="card-header" style="width: 80vw; font-weight: bold; text-transform: uppercase;">Pedido
          00<%=pedido.pedido%></div>
        <div class="card-body text-dark" style="width: 80vw;">
          <h4 class="card-title" style="padding: 0; margin: 0; color: darkgreen;"><%=pedido.cesta%>, <%=pedido.categoria%>
          </h4>
          <p style="padding: 0; margin: 0; font-size: 13px;"><%=pedido.data_pedido%></p>
          <p style="padding: 0; margin: 0; text-align: right;"><%=pedido.status_pedido%></p>
        </div>
      </div>
    </li>
    
    <% } %> 
    
  </ul>
</section>