<!-- =========== info-box =========== -->
<section class="container">
  <div class="row">
    <div class="col-sm-4">

      <div class="info-box bg1">
        <span class="info-box-icon"><i class="fa fa-book"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Produtos</span>
          <span class="info-box-text-lg"><%=data.nrprodutos%></span>
        </div>
      </div><!-- /.info-box -->

    </div><!-- /.col -->
    <div class="col-sm-4">

      <div class="info-box bg2">
        <span class="info-box-icon"><i class="fa fa-star"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Pedidos Atendidos</span>
          <span class="info-box-text-lg">00</span>
        </div>
      </div><!-- /.info-box -->

    </div><!-- /.col -->
    <div class="col-sm-4">

      <div class="info-box bg3">
        <span class="info-box-icon"><i class="fa fa-user"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Usuários</span>
          <span class="info-box-text-lg"><%=data.nrclientes%></span>
        </div>
      </div><!-- /.info-box -->

    </div><!-- /.col -->
  </div><!-- /.row -->

  <!-- =========== info-box =========== -->
  <div class="row">
    <div class="col-sm-4">

      <div class="info-box bg1">
        <div class="inner">
          <h3><%=data.nrcestas%></h3>
          <span class="info-box-text">Cestas</span>
        </div>
        <div class="icon">
          <i class="fa fa-star"></i>
        </div>
        <a href="/admin/cestas" class="info-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
      </div>


    </div><!-- /.col -->
    <div class="col-sm-4">

      <div class="info-box bg2">
        <div class="inner">
          <h3><%=data.nrclientes%></h3>
          <span class="info-box-text">Clientes</span>
        </div>
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <a href="#" class="info-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
      </div>

    </div><!-- /.col -->
    <div class="col-sm-4">

      <div class="info-box bg3">
        <div class="inner">
          <h3><%=data.nrpedidos%></h3>
          <span class="info-box-text">Pedidos</span>
        </div>
        <div class="icon">
          <i class="fa fa-book"></i>
        </div>
        <a href="/admin/pedidos-provisorio" class="info-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
      </div>

    </div><!-- /.col -->
  </div><!-- /.row -->
  <!-- =========== info-box // =========== -->

  </div><!-- //blok-body -->
</section><!-- // blok -->