<!-- =========== info-box =========== -->
<section class="container">
  <div class="row">
    <div class="col-sm-4">

      <a href="/admin/produto">
        <div class="info-box bg1">
          <span class="info-box-icon"><i class="fas fa-carrot"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Produtos</span>
            <span class="info-box-text-lg"><%=data.nrprodutos%>7</span>
          </div>
        </div><!-- /.info-box -->
      </a>

    </div><!-- /.col -->
    <div class="col-sm-4">

      <a href="/admin/cesta">
        <div class="info-box bg2">
          <span class="info-box-icon"><i class="fas fa-shopping-basket"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Cestas</span>
            <span class="info-box-text-lg">13</span>
          </div>
        </div><!-- /.info-box -->
      </a>

    </div><!-- /.col -->
    <div class="col-sm-4">

      <a href="/admin/inscricao">
        <div class="info-box bg3">
          <span class="info-box-icon"><i class="far fa-address-book"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Inscritos</span>
            <span class="info-box-text-lg"><%=data.nrclientes%>3</span>
          </div>
        </div><!-- /.info-box -->

      </a>
    </div><!-- /.col -->
  </div><!-- /.row -->

  <!-- =========== info-box =========== -->
  <div class="row">
    <div class="col-sm-4">

      <div class="info-box bg1">
        <div class="inner">
          <h3><%=data.nrcestas%>7</h3>
          <span class="info-box-text">Pedidos</span>
        </div>
        <div class="icon">
          <i class="far fa-clipboard"></i>
        </div>
        <a href="/admin/pedido" class="info-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
      </div>


    </div><!-- /.col -->
    <div class="col-sm-4">


      <div class="info-box bg2">
        <div class="inner">
          <h3><%=data.nrclientes%>5</h3>
          <span class="info-box-text">Clientes</span>
        </div>
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <a href="/admin/cliente" class="info-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
      </div>


    </div><!-- /.col -->
    <div class="col-sm-4">

      <div class="info-box bg3">
        <div class="inner">
          <h3><%=data.nrpedidos%>3</h3>
          <span class="info-box-text">Frete</span>
        </div>
        <div class="icon">
          <i class="fas fa-truck"></i>
        </div>
        <a href="/admin/frete" class="info-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
      </div>


    </div><!-- /.col -->
  </div><!-- /.row -->
  <!-- =========== info-box // =========== -->

  <!-- =========== info-box =========== -->
  <div class="row">
    <div class="col-sm-4">


      <div class="info-box bg1">
        <div class="inner">
          <h3><%=data.nrmensagens%>10</h3>
          <span class="info-box-text">Mensagens</span>
        </div>
        <div class="icon">
          <i class="fas fa-envelope-open-text"></i>
        </div>
        <a href="/admin/mensagem" class="info-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
      </div>



    </div><!-- /.col -->
    <div class="col-sm-4">


      <div class="info-box bg2">
        <div class="inner">
          <h3><%=data.nrclientes%>5</h3>
          <span class="info-box-text">Minha Loja</span>
        </div>
        <div class="icon">
          <i class="fas fa-store"></i>
        </div>
        <a href="/admin/loja" class="info-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
      </div>


    </div><!-- /.col -->
    <div class="col-sm-4">


      <div class="info-box bg3">
        <div class="inner">
          <h3><%=data.nrpedidos%>6</h3>
          <span class="info-box-text">Regiões atendidas</span>
        </div>
        <div class="icon">
          <i class="fas fa-map-marked-alt"></i>
        </div>
        <a href="/admin/regiao" class="info-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
      </div>


    </div><!-- /.col -->
  </div><!-- /.row -->
  <!-- =========== info-box // =========== -->

  </div><!-- //blok-body -->
</section><!-- // blok -->