    <main>

      <!-- MODAL COM A LISTA DE PRODUTOS DISPONÍVEIS  -->
      <!----------------------------------------------------------------------->
      <section id="sessao-lista-produtos">
        <div class="display-none fade show" id="lista-produtos" tabindex="10" role="dialog"
          aria-labelledby="lista-produtos" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id=lista-produtos-titulo">Produtos Disponíveis</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                  onclick="Utils.ocultarFormulario('#lista-produtos','display-none')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!--LISTAR PRODUTOS ADICIONAIS AQUI-->
                <!----------------------------------------------------------------------->
                <div class="list-group">
                  <%produtos.forEach(function(item){ %>
                  <button type="button" class="list-group-item list-group-item-action"
                    onclick="Utils.adicionarProdutoNaCesta(this)">
                    <img src="<%=item.imagem%>" style="width: 1.8em; margin: 0 0.5em;" alt="imagem">
                    <%=item.id%> - <%=item.descricao%> - <%=item.categoria%> - <%=item.unidade_medida%>
                    <input type="hidden" value="<%=item.id%>">
                  </button><% }); %>
                </div>
                <!----------------------------------------------------------------------->
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!----------------------------------------------------------------------->
      <div class="background">
        <!------------------------------------------------------------------------------------------------------------>
        <!--FORMULARIO PARA CADASTRO DE UM NOVO PRODUTO-->
        <section class="container formulario" id="#form-edit" style="z-index: auto;">
          <div style="margin-bottom: 1em;">
            <a href="/admin/cesta">
              <button type="button" class="close">
                <span aria-hidden="true">&times;</span>
              </button>
            </a>
          </div>

          <form method="POST" action="/admin/editar-cesta">
            <div class="form-row">
              <div class="form-group col-md-2" id="div-imagem-editar" onclick="Utils.uploadImg(this)">
                <label for="imagem" class="caixaImg">
                  <input type="hidden" value="<%=cesta.imagem%>" name="imagem">
                  <input type="file" hidden id="imagem-editar-input" accept="image/png, image/jpeg, image/jpg"
                    value="<%=cesta.imagem%>">
                  <img src="<%=cesta.imagem%>" alt="Imagem" class="imagem rounded-circle" id="imagem-editar-img">
                  <div class="sobreposicao">
                    <h5 class="texto">Adicionar Imagem</h5>
                    <span class="icone"><i class="fas fa-chevron-circle-up"></i></span>
                  </div>
                </label>
              </div>
              <div class="form-group col-md-2">
                <label for="id"><strong>Cod. Cesta</strong></label>
                <input type="number" class="form-control" id="id" readonly name="id" value="<%=cesta.id%>">
              </div>
              <div class="form-group col-md-4">
                <label for="descricao"><strong>Descrição</strong></label>
                <input type="text" class="form-control" id="descricao" name="descricao" value="<%=cesta.descricao%>">
              </div>
              <div class="form-group col-md-4">
                <label for="id_categoria_cesta"><strong>Categoria</strong></label>
                <select class="form-control" id="id_categoria_cesta" name="id_categoria_cesta">
                  <option disabled>Selecione...</option>
                  <% categorias.forEach(function(categ){ %>
                  <option value="<%=categ.id%>" <%if(categ.id == cesta.id_categoria_cesta){%>Selected<%}%>>
                    <%=categ.descricao%> </option><% }); %> </select> </div> <div class="form-group col-md-4">
                    <label for="preco"><strong>Preço de Venda</strong></label>
                    <input type="text" class="form-control" id="preco" name="preco" value="<%=cesta.preco%> ">
              </div>

              <!------------------------------------------------------------------>
              <div class="form-group col-md-4">
                <label for="alteracoes_permitidas"><strong><abbr title="Quantidade de alterações permitidas">Qtd.
                      alt. perm.</abbr></strong></label>
                <input type="number" class="form-control" id="alteracoes_permitidas" name="alteracoes_permitidas"
                  value="<%=cesta.alteracoes_permitidas%>">
              </div>
              <div class="form-group col-md-4">
                <label for="status"><strong>Status</strong></label>
                <select id="status" class="form-control" name="status">
                  <option disabled>Selecione...</option>
                  <option value="1" <%if(cesta.status == 1){%>Selected<%}%>>Ativo</option>
                  <option value="0" <%if(cesta.status == 0){%>Selected<%}%>>Bloqueado</option>
                </select>
              </div>
              <!------------------------------------------------------------------>

              <div class="form-group col-md-6">
                <label for="informacoes_nutricionais"><strong>Informações Nutricionais</strong></label>
                <textarea class="form-control" id="informacoes_nutricionais" rows="5" maxlength="210"
                  name="informacoes_nutricionais"><%=cesta.informacoes_nutricionais%> </textarea> <div
                    class="alert alert-warning display-none" role="alert" style="margin-top: 0.5em;" id="alerta">
                    Antes de adicionar um produto é necessário salvar a cesta!
              </div>
            </div>

            <!------------------------------------------------------------------>
            <div class="form-group col-md-6">
              <label for="produtos"><strong>Produtos da Cesta</strong></label>
              <select class="mdb-select md-form form-control" size="5" name="produtos" id="produtos">
                <%produtos_da_cesta.forEach(function(produto){ %>
                <option value="<%= produto.id%>"><%= produto.id%> - <%=produto.descricao%> - <%=produto.categoria%> -
                  <%=produto.unidade_medida%>
                  <% }); %></option>
              </select>
              <div class="botoes-a-direita" style="margin: 0;">
                <div>
                  <button type="button" class="btn btn-danger btn-add" onclick="Utils.excluirProdutoDaCesta()">Remover
                    Prod.</button>
                  <button type="button" class="btn btn-success btn-add" onclick="exibirAlerta('#lista-produtos')">Add.
                    Produto</button>
                  <button type="submit" class="btn btn-primary botao-salvar">Salvar</button>
                </div>
              </div>
              <!------------------------------------------------------------------>
            </div>
          </form>
        </section>
        <!------------------------------------------------------------------------------------------------------------>

        <script>
          //Função statica de ler a imagem e gerar um arquivo base 64 exibindo o em uma tag img
          Utils.leitorDeImagem('#imagem-editar-input', '#imagem-editar-img', Utils.atribuirImagem);
        </script>
      </div>

      <script>
        let alerta = document.querySelector('#alerta');
        //Exibir o formulario de produtos adicionais caso a cesta esteja salva
        const exibirAlerta = (el) => {
          if (document.querySelector(el).value != '') {
            Utils.exibirFormulario('#lista-produtos', 'display-none');
          } else {
            alerta.classList.toggle('display-none')
            for (let btn of butonsDisabled) {
              btn.disabled = !btn.disabled;
            }
          }
        };
      </script>
    </main>