<main>
  <!-------------------------------------------------------------------------------------------------->
  <!--TABELA LISTA DE CESTAS-->
  <section class="container list-itens-container table-responsive-md">
    <div class="navbar navbar-light">
      <h6 class="navbar-brand">
        Lista de Clientes
      </h6>
    </div>

    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Mensagem</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        <%mensagens.forEach(function(msg){ %>
        <tr>
          <th scope="row"><%=msg.nome%></th>
          <td><%=msg.email%></td>
          <td><%=msg.mensagem%></td>
          <td><%=msg.data_envio.getDate()%>/<%=msg.data_envio.getMonth()+1%>/<%=msg.data_envio.getFullYear()%></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </section>
</main>