    <main>
      <section class="container formulario display-none" id="form-new">
        <div style="margin-bottom: 1em;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-close"
            onclick="Utils.ocultarFormulario('#form-new', 'display-none', true)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!--FORMULÁRIO DE CADASTRO DE FORNECEDOR-->
        <form method="POST" action="/admin/pedidos-provisorio">
          <input type="hidden" id="id" name="id">
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="cliente"><strong>Cliente</strong></label>
              <input type="text" class="form-control" id="cliente" name="cliente" maxlength="250">
            </div>

            <div class="form-group col-md-4">
              <label for="mainDescription"><strong>Item</strong></label>
              <input type="text" class="form-control" id="mainDescription" name="mainDescription" maxlength="50">
            </div>

            <div class="form-group col-md-2">
              <label for="total"><strong>Total</strong></label>
              <input type="text" class="form-control" id="total" name="total" maxlength="50">
            </div>

            <div class="form-group col-md-8">
              <label for="observacoes"><strong>Observações</strong></label>
              <input type="text" class="form-control" id="observacoes" name="observacoes" maxlength="250">
            </div>

            <div class="form-group col-md-2">
              <label for="status"><strong>Status</strong></label>
              <select id="status" class="form-control" name="status">
                <option selected value="null">Selecione...</option>
                <option value="Em aberto">Em aberto</option>
                <option value="Concluido">Concluído</option>
                <option value="Cancelado">Cancelado</option>
                <option value="Em transito">Em transito</option>
              </select>
            </div>
            <div class="botoes-a-direita">
              <button type="reset" class="btn btn-success btn-cancelar">Cancelar</button>
              <button type="submit" class="btn btn-primary botao-salvar">Salvar</button>
            </div>
        </form>
      </section>
      <!--FIM DP FORMULÁRIO DE CADASTRO DE FORNECEDOR-->


      <!-- SCRIPT PARA ENVIAR O FORMULÁRIO -->
      <script src="./../javascripts/js/script-formsave.js"></script>
      <script>
        let form = document.querySelector('main form');

        form.save().then(json => {

          window.location.reload();

        }).catch(err => {

          console.log(err);

        });
      </script>
      <!-- FIM DO SCRIPT PARA ENVIAR O FORMULÁRIO -->



      <!--LISTA DE FORNECEDORES CADASTRADOS-->
      <section class="container list-itens-container table-responsive-md">
        <div class="navbar navbar-light">
          <h6 class="navbar-brand">
            Pedidos
          </h6>
        </div>

        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Total</th>
              <th scope="col">Status</th>
              <th scope="col">Observação</th>
              <th scope="col">Cliente</th>
              <th scope="col">Data</th>
              <th scope="col" class="col-small">Excluir</th>
              <th scope="col" class="col-small">Editar</th>
            </tr>
          </thead>
          <tbody>
            <% pedidos.forEach(function(row){ %>
            <tr data-row="<%= JSON.stringify(row)%>">
              <th scope="row"><%=row.mainDescription%></th>
              <td><%=row.total%></td>
              <td><%=row.status%></td>
              <td><%=row.observacoes%></td>
              <td><%=row.cliente%></td>
              <td><%=row.register%></td>
              <td>
                <button class="btn btn-excluir"><i class="fas fa-trash-alt"></i></button>
              </td>
              <td>
                <button class="btn btn-editar" onclick="Utils.exibirFormulario('#form-new', 'display-none')"><i
                    class="fa fa-pencil-alt"></i></button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </section>
    </main>

    <script>
      let buttonsEdit = document.querySelectorAll('.btn-editar');
      let buttonsDelete = document.querySelectorAll('.btn-excluir');

      let mainForm = document.querySelector('main form');
      for (let btn of buttonsEdit) {
        btn.addEventListener('click', function (e) {
          let tr = e.path.find(elemento => {
            return (elemento.tagName.toUpperCase() == 'TR');
          });

          window.scrollTo(0, 0);

          let data = JSON.parse(tr.dataset.row);

          for (let name in data) {
            switch (name) {
              case 'image':
                mainForm.querySelector('img').src = '/' + data[name];
                break;
              default:
                let input = mainForm.querySelector(`[name=${name}`);
                if (input) input.value = data[name];
            }
          }
        });
      }

      for (let btn of buttonsDelete) {
        btn.addEventListener('click', function (e) {
          let confirmacao = confirm('Tem certeza que deseja excluir este pedido?');
          if (!confirmacao) {
            return false
          }

          let tr = e.path.find(elemento => {
            return (elemento.tagName.toUpperCase() == 'TR');
          });

          let data = JSON.parse(tr.dataset.row);

          fetch(`/admin/pedidos-provisorio/${data.id}`, {
              method: 'DELETE'
            }).then(response => response.json())
            .then(json => {
              window.location.reload();
            })
        });
      }
    </script>