    <main>
      
      
      <!-- MODAL COM A LISTA DE PRODUTOS DISPONÍVEIS  -->
      <!----------------------------------------------------------------------->
      <section id="sessao-lista-produtos">
        <div class="display-none fade show" id="lista-produtos" tabindex="10" role="dialog"
        aria-labelledby="lista-produtos" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id=lista-produtos-titulo">Alterar Status do Pedido</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"
              onclick="Utils.ocultarFormulario('#lista-produtos','display-none')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!--LISTAR PRODUTOS ADICIONAIS AQUI-->
            <!----------------------------------------------------------------------->
            <div class="list-group">
              
              <button type="button" class="list-group-item list-group-item-action"
              onclick="Utils.alterarStatusDoPedido(this)">
              <div src="" style="width: 100%; margin: 0 0.5em; font-size: 1.2em; color: rgb(10, 95, 52);" alt="imagem"><i
                class="far fa-thumbs-up"></i> Pedido
                Concluído</div>
                <input type="hidden" class="numero_pedido" value="<%=pedido%>">
                <input type="hidden" class="code_status" value="2">
              </button>
              
              <button type="button" class="list-group-item list-group-item-action"
              onclick="Utils.alterarStatusDoPedido(this)">
              <div src="" style="width:100%; margin: 0 0.5em; font-size: 1.2em; color: rgb(136, 7, 7);" alt="imagem"><i class="fas fa-window-close"></i> Pedido
                Cancelado
              </div>
              <input type="hidden" class="numero_pedido" value="<%=pedido%>">
              <input type="hidden" class="code_status" value="3">
            </button>
            
            <button type="button" class="list-group-item list-group-item-action"
            onclick="Utils.alterarStatusDoPedido(this)">
            <div style="width: 100%; margin: 0 0.5em; font-size: 1.2em; color: rgb(161, 108, 9);" alt="imagem"><i
              class="fas fa-user-clock"></i> Pedido Pendente</div>
              <input type="hidden" class="numero_pedido" value="<%=pedido%>">
              <input type="hidden" class="code_status" value="1">
            </button>
            
          </div>
          <!----------------------------------------------------------------------->
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</section>
<!----------------------------------------------------------------------->


<div class="background">
  <section class="container">
    <div class="breadcrumb d-flex bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <h4>Detalhes do pedido: <span class="badge badge-secondary">000<%=pedido%></span></h4>
      </div>
      <div class="ml-auto p-2 bd-highlight">
        <a name="imprimir" id="imprimir" class="btn btn-outline-primary" role="button" onclick="window.print();">Imprimir</a>
        <button name="alterar-status" id="alterar-status"
        class="btn
        <%if(dadosGerais.status == 1){%>btn-warning<%}else{%>btn-success<%}%> mr" role="button"><%if(dadosGerais.status == 1){%>Pedido Pendente  <%}else{%>Baixado  <%}%><i
        class="fas fa-edit"></i></button>
      </div>
    </div>
    
    <form action="">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Entrega</th>
            <th scope="col">Frete</th>
            <th scope="col" class="col-small">Ecobag</th>
            <th scope="col">Forma Pag.</th>
            <th scope="col">Observações</th>
            <th scope="col">Data</th>
            <th scope="col" style="width: auto;"><strong>Total</strong></th>
          </tr>
        </thead>
        
        <tbody id="listagem-cestas">                
          <tr data-dados="<%=JSON.stringify(dadosGerais)%>%>">
            <td scope="row"><strong><%=dadosGerais.nome%></strong></td>
            <td><%if(dadosGerais.retirar_na_loja == 0){%>Entregar-<%=dadosGerais.regiao%><%}else{%>Retirada<%}%></td>
            <td>
              <%if(dadosGerais.retirar_na_loja == 0){%><%=dadosGerais.frete%><%}else{%>0.00<%}%>
            </td>
            <td><%if(dadosGerais.ecobag_adicional == 1){%>Sim<%}else{%>Não<%}%></td>
            <td><%=dadosGerais.pagamento%></td>
            <td><%=dadosGerais.anotacoes%></td>
            <td>
              <%=dadosGerais.data.getDate()%>/<%=dadosGerais.data.getMonth()+1%>/<%=dadosGerais.data.getFullYear()%>
            </td>
            <td>R$ <strong><%=total%></strong></td>
          </tr>
          
        </tbody>
      </table>
    </form>
  </section>
  
  <div class="container">
    
    <div class="navbar navbar-light" style="background-color: #e3f2fd;">
      <!-- Navbar content -->
      <textarea class="form-control" style="resize: none;" id="dados" rows="6" readonly>Dados adicionais Telefone: <%=dadosGerais.phone%> Endereço: <%=dadosGerais.endereco%>, <%=dadosGerais.cidade%>-<%=dadosGerais.estado%>, <%=dadosGerais.cep%> Região: <%=dadosGerais.regiao%>
Observações: <%=dadosGerais.anotacoes%><%=dadosGerais.data.getDate()%>/<%=dadosGerais.data.getMonth()+1%>/<%=dadosGerais.data.getFullYear()%> <%=dadosGerais.data.getHours()%>:<%=dadosGerais.data.getMinutes()%>
      </textarea>
    </div>
  </div>
  
</section>

<!------------------------------------------------------------------------------------------------------------>
<!--LISTAR CESTAS CADASTRADAS-->
<section class="container list-itens-container table-responsive-md">
  <div class="navbar navbar-light">
    <h6 class="navbar-brand">
      Produtos:
    </h6>
  </div>
  
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Descrição</th>
        <th scope="col">Categoria</th>
        <th scope="col" class="col-small">Qtd.</th>
        <th scope="col">Preço und.</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Tipo</th>
        <th scope="col" class="col-small">Detalhes</th>
      </tr>
    </thead>
    
    <tbody id="listagem-cestas">
      
      <% produtosDaCesta.forEach(function(produtoCesta){ %>
        <tr>
          <td scope="row"><strong><%=produtoCesta.id%></strong></td>
          <td><%=produtoCesta.descricao%></td>
          <td><%=produtoCesta.categoria%></td>
          <td><%=produtoCesta.qtd_venda%></td>
          <td>R$ <%=produtoCesta.preco_unitario%></td>
          <td>R$ <%=produtoCesta.subtotal%></td>
          <td>Item de Cesta</td>
          <td><button class=" btn btn-excluir" onclick="excluirItem(this)"> <input type="hidden"
            value="<%=produtoCesta.id%>"><i class="fas fa-eye"></i></button></td>
          </tr>
          <% }); %>
          
          <% produtos.forEach(function(produto){ %>
            <tr>
              <td scope="row"><strong><%=produto.id%></strong></td>
              <td><%=produto.descricao%></td>
              <td><%=produto.categoria%></td>
              <td><%=produto.qtd_venda%></td>
              <td>R$ <%=produto.preco_unitario%></td>
              <td>R$ <%=produto.subtotal%></td>
              <td>Adicional</td>
              <td><button class=" btn btn-excluir" onclick="excluirItem(this)"> <input type="hidden"
                value="<%=produto.id%>"><i class="fas fa-eye"></i></button></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </section>
        <!------------------------------------------------------------------------------------------------------------>
      </div>
    </main>
    
    <script>
      
      let btn = document.querySelector('#alterar-status');
      let modal = document.querySelector('#lista-produtos');
      btn.addEventListener('click', function(){
        modal.classList.toggle('display-none');
      });
    </script>