<main class="container">
  <section class="container list-itens-container table-responsive-md">
    <div class="navbar navbar-light" style="display: flex;">
      <h6 class="navbar-brand" style="display: inline-block; width: 100%;">
        Lista de Planos
      </h6>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">Descrição</th>
          <th scope="col">Cesta</th>
          <th scope="col">Preço</th>
          <th scope="col">Status</th>
          <th scope="col" style="text-align: right">Editar</th>
          <th scope="col" style="text-align: right">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <% for(let plano of planos){%> 
          <tr>
            <th scope="row"><%=plano.id%></th>
            <td><%=plano.titulo%></td>
            <td><%=plano.descricao%></td>
            <td><%=plano.cesta%> - <%=plano.categoria%></td>
            <td><%=plano.preco%></td>
            <td><%if(plano.status == 1){%>Ativo<%}else{%>Bloqueado<%}%></td>
            <td style="text-align: right" class="btn-edit" data-plano="<%=JSON.stringify(plano)%>" onclick="editar(this)">
              <i class="far fa-edit"></i>
            </td>
            <td style="text-align: right" class="btn-delete" data-id="<%=plano.id%>" onclick="deletar(this)">
              <i class="far fa-trash-alt"></i>
            </td>
          </tr>
          <% } %> 
        </tbody>
      </table>
    </section>
    
    <section>
      <!-- Modal -->
      <div class="modal fade" id="modal-novo-plano" tabindex="-1" role="dialog"
      aria-labelledby="modal-novo-planoTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-novo-planoTitle">Plano de assinatura</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/admin/planos" method="POST">
              <input type="hidden" name="id" id="id">
              <div class="form-group">
                <label for="titulo">Titulo do plano</label>
                <input type="text" class="form-control" id="titulo" placeholder="Plano Mensal" maxlength="45"
                name="titulo" required>
              </div>
              <div class="form-group">
                <label for="preco">Preço</label>
                <input type="number" class="form-control" id="preco" placeholder="200.00" maxlength="45"
                name="preco" required>
              </div>
              <div class="form-group">
                <label for="titulo">Descrição</label>
                <input type="text" class="form-control" id="descricao" placeholder="Cesta P semanal" maxlength="45"
                name="descricao" required>
              </div>
              <div class="form-group">
                <label for="quantidade_cestas">Quantidade de cestas totais</label>
                <select class="form-control" id="quantidade_cestas" name="quantidade_cestas">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
              </div>
              <div class="form-group">
                <label for="id_cesta">Cesta deste plano</label>
                <select class="form-control" id="id_cesta" name="id_cesta">
                  <% for(let cesta of cestas){ %> 
                    <option value="<%=cesta.id%>"><%=cesta.descricao%> - <%=cesta.categoria%></option>
                    <% } %> 
                  </select>
                </div>
                <div class="form-group">
                  <label for="regulamento">Regulamento</label>
                  <textarea class="form-control" id="regulamento" rows="3" name="regulamento" required></textarea>
                </div>
                <div class="form-group">
                  <label class="mr-sm-2 sr-only" for="status">Status</label>
                  <select class="custom-select mr-sm-2" id="status" name="status">
                    <option value="1">Ativo</option>
                    <option value="0">Bloqueado</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
  
  <script>
    const BTN_NOVO = document.querySelector('#btn-new');
    const INPUTS = document.querySelectorAll('#modal-novo-plano input, #modal-novo-plano select, #modal-novo-plano textarea');
    const MODAL = document.querySelector('#modal-novo-plano');
    
    BTN_NOVO.addEventListener('click', function(e){
      e.preventDefault();
      $("#modal-novo-plano input, #modal-novo-plano select, #modal-novo-plano textarea").val("");
      $('#modal-novo-plano').modal('show');
    });
    
    function editar(e){
      let plano = JSON.parse(e.dataset.plano);
      for(let input of INPUTS){
        input.value = plano[input.name];
      }
      $('#modal-novo-plano').modal('show');
    };
    
    function deletar(e){
      let id = e.dataset.id;
      async function excluir(){
        try{
          let promise = await fetch('/admin/plano', {
            headers: { "Content-Type": "application/json" },
            method:'DELETE',
            body:JSON.stringify({id})
          })
          
          if(!promise.ok){
            throw new Error('Não foi possível excluir');
          }
          
          let resposta = await promise.json();
          location.reload();
          
        }catch(err){
          throw new Error('Não foi possível excluir');
        }
      }
      excluir();
    };
    
    
  </script>