<section class="container-fluid">

  <div class="navbar navbar-light" style="display: flex;">
    <h6 class="navbar-brand" style="display: inline-block; width: 100%;">
      Relatório de Pedidos
    </h6>
  </div>

  <ul class="nav nav-tabs" id="tabb" role="tablist">
    <li class="nav-item" onclick="location.href='/admin/relatorio-produtos'">
      <a class="nav-link active" id="relatorio-produtos" data-toggle="tab" href="/admin/relatorio-produtos" role="tab"
        aria-controls="relatorio-produtos" aria-selected="true">Produtos pedido</a>
    </li>
    <li class="nav-item" onclick="location.href='/admin/relatorio-entregas'">
      <a class="nav-link" id="relatorio-entregas" data-toggle="tab" href="/admin/relatorio-entregas" role="tab"
        aria-controls="relatorio-entregas" aria-selected="false">Entregas</a>
    </li>
    <li class="nav-item" onclick="location.href='/admin/relatorio-assinantes'">
      <a class="nav-link" id="relatorio-assinantes" data-toggle="tab" href="/admin/relatorio-assinantes"
        role="tab" aria-controls="relatorio-assinantes" aria-selected="false">Assinantes</a>
    </li>
  </ul>
  <div class="tab-content" id="conteudo">
    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Pedido</th>
            <th scope="col">Nome</th>
            <th scope="col">Phone</th>
            <th scope="col">Endereço</th>
            <th scope="col">Descrição</th>
            <th scope="col">Cesta</th>
            <th scope="col">Qtd</th>
            <th scope="col">Anotações</th>
            <th scope="col">Ecobag</th>
            <th scope="col">Retirada</th>
            <th scope="col">Frete</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <% for(let pedido of pedidos){%>
          <tr>
            <th scope="row"><%=pedido.pedido%></th>
            <td><%=pedido.nome%></td>
            <td><%=pedido.phone%></td>
            <td><%=pedido.endereco%> - <%=pedido.bairro%> - <%=pedido.regiao%></td>
            <td><%=pedido.descricao%></td>
            <td><%=pedido.cesta%> - <%=pedido.categoria%></td>
            <td><%=pedido.quantidade%></td>
            <td><%=pedido.anotacoes%></td>
            <td>R$ <%=pedido.ecobag_adicional%></td>
            <td><%=pedido.retirar_na_loja%></td>
            <td class="btn-edit" style="text-align: center;">
              <%=pedido.frete%>
            </td>
            <td><%=pedido.subtotal%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</section>